<div class="container mt-5">
  <div class="row saludo-usuario justify-content-end">
    <div class="col-auto">
      <p class="texto-saludo">
        Hola {{usuario}}!
        <a class="btn btn-danger ms-3" href="/admin/login/logout">
          Cerrar Sesión <i class="fas fa-sign-out-alt"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <h3>Listado de Reclamos</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#ID Reclamo</th>
            <th>Fecha</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Tipo de Reclamo</th>
            <th>Descripción</th>
            <th>Imagen</th>
          </tr>
        </thead>
        <tbody>
          {{#each reclamos}}
          <tr>
            <th scope="row">{{id}}</th>
            <td>{{fecha_formateada}}</td>
            <td>{{nombre}}</td>
            <td>{{email}}</td>
            <td>{{tipo}}</td>
            <td>{{descripcion}}</td>
            <td>
              {{#if imagen}}
              <img src="{{imagen}}" alt="Imagen del reclamo" class="img-reclamo" />
              {{else}}
              <span class="text-muted">Sin imagen</span>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
