<nav>
    <ul>
        <li><a href="/admin/verReclamos">Ver Reclamos</a></li>
        <li><a href="/admin/verEncuesta">Resultados de Encuesta</a></li>
        <li><a href="/admin/inicio">Volver al inicio</a></li>
    </ul>
</nav>
<div class="table-wrapper">
    <h3>Listado de Reclamos</h3>


    <table class="table table-hover">
        <thead>
            <tr>
                <th>#ID Reclamo</th>
                <th>Fecha</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Tipo de Reclamo</th>
                <th>Descripción</th>
                <th>Dirección</th>
                <th>Imagen</th>
                <th>Estado</th>
                <th>Comentarios</th>
                <th class="text-end">Acciones</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each reclamos}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{fecha_formateada}}</td>
                <td>{{nombre}}</td>
                <td>{{apellido}}</td>
                <td>{{email}}</td>
                <td>{{tipo}}</td>
                <td>{{descripcion}}</td>
                <td>{{direccion}}</td>
                <td>
                    {{#if imagen}}
                    <img src="{{imagen}}" alt="Imagen del reclamo" class="img-reclamo" />
                    {{else}}
                    <span class="text-muted">Sin imagen</span>
                    {{/if}}
                </td>
                <td>{{estado}}</td>
                <td>{{comentarios}}</td>
                <td class="text-end accionesClases">
                    <a href="/admin/admin-reclamos/modificar/{{id}}" class="iconoAccion">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>